<div>
    <div class="row">
        <div class="col">
            <div class="leftside">
                <h3 class="name"> {{name}}</h3>
                <img class="image" src="http://localhost:4000/{{image}}">
            </div>
        </div>
        <div class="col">
            <div class="rightside">
                <div class="infos-box">
                    <h5>Adresse: <span class="text-muted">{{adress}}</span></h5>
                    <h6>Numéro de téléphone: <span class="text-muted">{{number}}</span></h6>
                    <p>Informations: <span class="text-muted">{{informations}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Articles</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{number_article}}</h1>
                    <h4 class="text-muted">articles en base de bonnées</h4>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Promotions</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{number_sales}}</h1>
                    <h4 class="text-muted" style="margin-bottom: 50px;">promotions</h4>
                    <h1 class="card-title pricing-card-title">{{number_current_sales}}</h1>
                    <h4 class="text-muted">promotions en cours</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Redirection</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{number_redirection}}</h1>
                    <h4 class="text-muted" style="margin-bottom: 50px;">redirections</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Sauvegarde</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{number_save}}</h1>
                    <h4 class="text-muted" style="margin-bottom: 50px;">sauvegardes</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Itinéraire</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{number_route}}</h1>
                    <h4 class="text-muted" style="margin-bottom: 50px;">itinéraires</h4>
                </div>
            </div>
          </div>
    </div>
</div>